@page
@model JohnGuidry.Pages_DevNotes.DevNotesModel
@{
    ViewData["Title"] = "Developer Notes";
}


<img class="fit-picture"
     src="~/Media/Documentation/goal1.png"
     alt="First Goal Accomplished" />

<p>This page was last updated as of @ViewData["LastUpdate"]</p>
<p>This page is under construction as of @ViewData["StartDate"]</p>