@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>John Guidry is a dynamic Software Engineer with expertise in agile development, SQL, C#, and .NET frameworks. 
        He has a proven track record in software lifecycle management, designing efficient solutions, and leading projects to successful completion. 
        John has strong problem-solving skills, clear communication, and collaborative teamwork abilities. 
        He has experience leading the development of comprehensive SDLCs, streamlining issue tracking, optimizing productivity through APIs and SQL databases, and orchestrating efficient deployments. 
        John continuously enhances his technical skills through professional development and holds a degree in Computer Science from Roanoke College.</p>
    <p>Please see my <a href="~/Media/JohnGuidryResume.pdf" download="johnguidryresume">resume</a> for more information!</p>
    <p>If you would like to see this code, please see my <a href="https://github.com/JohnGuidry/JohnGuidrySite">repository</a> for more information!</p>
</div>
